    <!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="favicon" href="img/awts.ico">
	<title>Catucag</title>
<link rel="stylesheet" type="text/css" href="css/app.css">
<center><font size="20"> -----NARUTO THE HOKAGE-----</font>
 </center>
</head>
<body background="img/awts.jpg">s

<style>
	body{
		background:url(img/awts.jpg) 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;

</style>
<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>

<p id="demo"></p>

   <div id ="app"></div>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
   <script type="text/javascript" src="js/appMain.js"></script>
  
 <div class="sidebar-image-gallery">

             <a  href="views/app.html" alt="Naruto Shippûden: The Lost Tower" title="Naruto Shippûden: The Lost Tower"><img src="img/wtf.jpg" width="300" height="600" style="border:5px solid blue"></a>

             <a  href="views/app1.html" alt="Naruto Road to Ninja: Naruto the Movie" title="Naruto Road to Ninja: Naruto the Movie"><img src="img/wth.jpg" width="300" height="600" style="border:5px solid red"></a>

             <a  href="views/app2.html" alt="Naruto Shippuden the Movie: Blood Prison" title="Naruto Shippuden the Movie: Blood Prison"><img src="img/wtj.jpg" width="300" height="600" style="border:5px solid orange"></a>
 
             <a  href="views/app3.html" alt="Naruto The Last: Naruto the Movie" title="Naruto The Last: Naruto the Movie"><img src="img/wtr.jpg" width="300" height="600" style="border:5px solid grey"></a>
             <center>
             <a  href="views/app4.html" alt="Naruto Boruto: Naruto the Movie" title="Naruto Boruto: Naruto the Movie"><img src="img/wte.jpg" width="300" height="600" style="border:5px solid yellow"></a>
</center>
</div>

<audio autoplay>

  <source src="wel.ogg" type="audio/ogg">

  <source src="Nobodyknows Heros Come Back - Naruto Shippuden - HD.mp3" type="audio/mpeg">

</audio>
</body>
</html>